[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
uvicorn = "*"
django-cors-headers = "*"
kink = "*"
django = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pytest-django = "*"
faker = "*"
pytest = "*"
rest-framework-simplejwt = "*"
django-taggit = "*"
djangorestframework-simplejwt = "*"
nanoid = "*"
drf-access-policy = "*"
pydub = "*"
pillow = "*"
drf-spectacular-sidecar = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
