.Customer_Container {
    width: 100%;
    height: 180vh;
    padding: 3%;

    article {
        width: 100%;
        height: 5%;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        margin-bottom: 5%;

        h1 {
            font-size: 29px;
            font-weight: 500;
        }

        span {
            width: 24%;
            height: 12%;
            padding: 3.3% 0;
            display: flex;
            color: white;
            background-color: rgb(21, 122, 237);
            justify-content: center;
            margin-bottom: 4%;
            align-items: center;
            cursor: pointer;

            .Circle_Icon {
                font-size: 23px;
                margin-right: 5px;
            }
        }
    }

    .Customer_List_Container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 5%;


        div {
            width: 30%;
            height: 6.5%;
            border: 1px solid rgb(224, 221, 221);
            padding: 2%;
            display: flex;
            align-items: center;

            input {
                width: 90%;
                padding: 6px;
                border: none;
                outline: none;

            }
            // width: 100%;

        }

        .Customer_Calendar {
            font-size: 23px;
            color: rgb(21, 122, 237);
            cursor: pointer;
            margin-top: 12px;
        }
        // margin-top: 3% 5%;
    }
}