.Home_Container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
    // justify-content: space-between;






    .Main_Container {
        width: 100%;
        height: max-content;
        margin-top: 16vh;
        display: flex;
        position: relative;




        .Home_Content__Container {
            width: 75%;
            flex: 1;
            margin-left: 300px;
            height: 100%;
        }
    }
}

@media(max-width: 1024px) {
    .Home_Container {


        .Main_Container {


            .Home_Content__Container {
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}

@media(max-width:700px) {
    .Home_Container {


        .Main_Container {
            .Home_Sidebar {
                display: none;
            }

            .Home_Content__Container {
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}