.Newproduct_Container {
    width: 100%;
    height: 159vh;
    color: rgb(78, 77, 77) ;
    padding-left: 25%;
    padding-top: 10%;
    background-color: rgb(193, 15, 15);

    // display: flex;

    h1 {
        width: 100%;
        height: 3%;
        display: flex;
        font-weight: 500;
        font-size: 26px;
        color: rgb(63, 63, 63);
        align-items: center;
        margin: 4%;
    }

    .Product_Form_Container {
        width: 100%;
        height: 92%;
        padding: 3%;
        display: flex;
        justify-content: space-evenly;
        // background-color: black;


        .GenProduct_Container {
            width: 45%;
            height: 90%;
            padding: 4% 2%;
            background-color: #fff;
            border-radius: 5px;

            h3 {
                font-weight: 500;
                font-size: 19px;
                color: rgb(78, 77, 77) ;
                margin-bottom: 4%;
            }

            form {
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                padding: 2%;


                label {
                    padding-top: 10%;
                    font-size: 14px
                }

                input {
                    padding: 5%;
                    width: 92%;
                    height: 45px;
                    border: 1px solid rgb(236, 234, 234);
                    outline: none;
                }

                textarea {
                    padding: 5%;
                    width: 92%;
                    border: 1px solid rgb(236, 234, 234);
                    outline: none;
                    height: 90px;
                    resize: none;
                }

                span {
                    padding-top: 5%;
                    width: 92%;
                    display: flex;
                    justify-content: space-between;

                    .Select_Article {
                        width: 20%;
                        display: flex;
                        margin-top: -1.2%;
                        height:50px;
                        // justify-content: center;
                        flex-direction: column;

                       
                        select {
                            width: 100%;
                            padding: 18%;
                            display: flex;
                            outline: none;
                            border: 1px solid rgb(236, 234, 234);
                            height: 100%;
                            justify-content: center;
                        }


                        }

                        .Price_Article {
                            width: 78%;
                            input {
                                width: 100%;
                            }
                        }


                }

                div {
                    width: 100%;
                    height: 40%;
                    padding-left: 2%;
                    padding-right: 5%;
                    display: flex;
                    justify-content: space-between;
                    margin: 5%;
                    // background-color: black;

                    span {
                        width: 50%;
                        height: 45%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8%;
                        cursor: pointer;
                        
                    }

                    .Cancel_Btn {
                        background-color: #fff;
                        color: rgb(21, 122, 237);
                        margin-left: -6%;
                        border: 1px solid rgb(21, 122, 237);
                    }

                    .Add_Btn {
                        background-color: rgb(21, 122, 237);
                        color: #fff;
                        border: 1px solid white;
                        margin-right: 8%;
                        width: 50%;
                    }
                }
            }
        }

        .Product_Media_Container {
            width: 45%;
            height: 75%;
            padding: 4% 2%;
            background-color: #fff;
            border-radius: 5px;


            h3 {
             font-weight: 500;
             font-size: 19px;
             color: rgb(78, 77, 77) ;
             margin-bottom: 4%;
            }

            section {
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(236, 234, 234);
                border-radius: 5px;
                margin-bottom: 10%;
                color: rgb(186, 182, 182);
                cursor: pointer;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                p {
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            span {
                width: 100%;
                height: 65%;
                display: flex;
                flex-direction: column;
                padding: 3%;

                label {
                    margin-bottom: 2%;
                    margin-top: 2%;
                    font-size: 14px ;
                }


                input {
                    padding: 4.3%;
                    border: 1px solid rgb(236, 234, 234);
                    outline: none;
                }
            }
        }
    }
}