.Product_Container {
    width: 100%;
    height: 150vh;
    padding-right: 3%;
    // padding-left: 25%;
    padding-top: 3%;
    background-color: rgb(250, 247, 247);


    .Add_Product {
        width: 100%;
        height: 14%;
        display: flex;
        // padding-right: 3%;
        padding-left: 25%;
        padding-top: 10%;
        padding-bottom: 4%;
        justify-content: space-between;
        align-items: center;
        // background-color: black;

        h1 {
            font-size: 33px;
            font-weight: 400;
        }

        span {
            display: flex;
            justify-content: space-between;
            padding: 1.8% 3.7%;
            cursor: pointer;
            color: white;
            background-color: rgb(21, 122, 237);

            .Product_Icon {
                font-size: 19px;
                margin-right: 5px;
            }
        }
    }

    .Product_Table_Section {
        width: 75%;
        height: 120vh;
        background-color: #fff;
        padding: 2.8%;
        margin-left: 25%;
        display: flex;
        flex-direction: column;

        div {
            width: 95%;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            color: rgb(21, 122, 237);

            span {
                width: 38%;
                height: 53px;
                padding: 3%;
                display: flex;
                align-items: center;
                border: 1px solid rgb(229, 226, 226);

                .Search_Icon {
                    font-size: 15px;
                    margin-right: 5px;
                    color: black;
                }

                input {
                    border: none;
                    outline: none;
                }
            }
        }

        .Product_Table_list_header {
            color: grey;
            font-size: 13px;

            span {
                width: 30%;
                border: none;
                display: flex;
                align-items: center;
                input {
                    transform: scale(1.6);
                    margin-right: 10px;
                    cursor: pointer;
                }


            }

            ul {
                width: 53%;
                display: flex;
                align-items: center;
                padding-right: 5%;
                justify-content: space-between;

                li {
                     list-style-type: none;
                }
                
            }

            p {
                display: flex;
                align-items: center;
                margin-left: 6px;
            }
        }

        .Product_Table_List_content {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;

            nav {
                width: 97%;
                height: 7vh;
                display: flex;
                padding-top: 1%;
                padding-left: 3%;
                justify-content: space-between;
                font-size: 14px;
                color: grey;
                // background-color: yellow;
            }
            // justify-content: space-between;

          

                input {
                    transform: scale(1.6);
                    cursor: pointer;
                }

                .Product_Name {
                    width: 100%;
                    // background-color: green;
                    text-align: center;
                    padding: 1%;
                    margin-right: 10%;

                    
                }

                .Product_Category {
                    width: 60%;
                    // margin-right: 2%;
                    
                    // background-color: yellow;

                }



                p {
                    width: 68%;
                    font-weight: 500;
                    text-align: center  ;
                    cursor: pointer;
                    font-size: 19px;
                    color: rgb(67, 66, 66);
                }
            }

            .Product_Details {
                width: 60%;
                display: flex;
                align-items: center;
                padding-right: 9%;
                margin-left: 0;
                padding-left: 0;
                justify-content: space-between;

                p {
                    width: max-content;
                }

                .Product_Category {
                    // border: 1px solid grey;
                    font-weight: 400;
                    padding: 6px;
                    color: grey;
                    background-color: rgb(248, 244, 244);
                }

                .Product_Available {
                    font-weight: 400;
                    padding: 6px;
                    color: rgb(5, 158, 79);
                    background-color: rgb(212, 254, 245);
                }
            }

           .Product_Icons {
            width: 10%; 
            // align-items: center;
            display: flex;  
            justify-content: center;
            color: grey; 
            cursor: pointer;
            font-size: 22px

                
            }
        
    }

    .Product_pagination {
        width: 18%;
        display: flex;
        // background-color: black;
        margin-top: 5%;
        margin-bottom: 4%;
        margin-left: 35%;
        cursor: pointer;
        justify-content: space-between;
        // padding-left: 40%;
        color: #928f8f;

        list-style: none;
        font-size: 14px;

        .Product_page_active {
            width: 20%;
            color: #928f8f;
            padding:  0 5%;
            font-size: 15px;
            // background-color: blue;
        }

        a {
            list-style: none;
            padding: 3%
        }
    }
    
}