.Product_Container {
    width: 100%;
    height: 150vh;
    padding-right: 3%;

    .Add_Product {
        width: 100%;
        height: 14%;
        display: flex;
        // padding-right: 3%;
        justify-content: space-between;
        align-items: center;
        // background-color: black;

        h1 {
            font-size: 33px;
            font-weight: 400;
        }

        span {
            display: flex;
            justify-content: space-between;
            padding: 1.8% 3.7%;
            cursor: pointer;
            color: white;
            background-color: rgb(21, 122, 237);

            .Product_Icon {
                font-size: 19px;
                margin-right: 5px;
            }
        }
    }

    .Product_Table_Section {
        width: 100%;
        height: 120vh;
        background-color: #fff;
        padding: 2.8%;
        display: flex;
        flex-direction: column;

        div {
            width: 95%;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            color: rgb(21, 122, 237);

            span {
                width: 38%;
                height: 53px;
                padding: 3%;
                display: flex;
                align-items: center;
                border: 1px solid rgb(229, 226, 226);

                .Search_Icon {
                    font-size: 15px;
                    margin-right: 5px;
                    color: black;
                }

                input {
                    border: none;
                    outline: none;
                }
            }
        }

        .Product_Table_list_header {
            color: grey;
            font-size: 13px;

            span {
                width: 30%;
                border: none;
                display: flex;
                align-items: center;
                input {
                    transform: scale(1.6);
                    margin-right: 10px;
                    cursor: pointer;
                }


            }

            ul {
                width: 53%;
                display: flex;
                align-items: center;
                padding-right: 5%;
                justify-content: space-between;

                li {
                     list-style-type: none;
                }
                
            }

            p {
                display: flex;
                align-items: center;
                margin-left: 6px;
            }
        }

        .Product_Table_List_content {
            width: 100%;
            height: max-content;
            display: flex;
            // justify-content: space-between;

            span {
                width: 35%;
                display: flex;
                justify-content: space-between;
                border: none;
                color: black;

                input {
                    transform: scale(1.6);
                    cursor: pointer;
                }

                .Product_Img_Container {
                    width: 18%;
                    cursor: pointer;
                    height: 45px;
                    background-color: black;
                }

                p {
                    width: 68%;
                    font-weight: 500;
                    text-align: center  ;
                    cursor: pointer;
                    font-size: 14px;
                }
            }

            .Product_Details {
                width: 60%;
                display: flex;
                align-items: center;
                padding-right: 9%;
                margin-left: 0;
                padding-left: 0;
                justify-content: space-between;

                p {
                    width: max-content;
                }

                .Product_Category {
                    // border: 1px solid grey;
                    font-weight: 400;
                    padding: 6px;
                    color: grey;
                    background-color: rgb(248, 244, 244);
                }

                .Product_Available {
                    font-weight: 400;
                    padding: 6px;
                    color: rgb(5, 158, 79);
                    background-color: rgb(212, 254, 245);
                }
            }

           .Product_Icons {
            width: 10%; 
            align-items: center;
            display: flex;  
            color: grey; 
            cursor: pointer;

                
            }
        }
    }
    
}