.Query_Container {
    width: 100%;
    height: max-content;
    background-color: rgb(250, 247, 247);
    // padding: 3%;
    padding-top: 12%;

    .Query_Header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        height: 6%;
        margin-left: 6%;
        align-items: center;

        h1 {
            font-size: 30px;
            font-weight: 600;
            color: rgb(53, 52, 52);
            padding-left: 22%;
        }

        button {
            padding: 1.04%;
            width: 13%;
            background-color: rgb(21, 122, 237);
            color: white;
            font-weight: 400;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 17px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }
        }
        .Query_Item_Container {
            width: 100%;
            height: max-content;
            padding: 2%;
            padding-left: 23.5%;
            display: flex;
            // background-color: yellow;
            flex-direction: column;
            align-items: center;

            .Query_Headers {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
    
            ul {
                width: 94.6%;
                height: max-content;
                margin-top: 1%;
                display: flex;
                flex-direction: column;
                margin-bottom: 1%;
                overflow-x: scroll;
                // background-color: black;

                li {
                    // background-color: green;
                   
                    list-style-type: none;
                    border-bottom: 1px solid grey;
                    display: flex;
                    justify-content: space-between;

                    div {
                        width: fit-content;
                        padding: 3%;
                        font-size: 13px;
                    }

                }
            }
        }

    

