@import 'mixin';
@import 'signin';
@import 'forgotpasword';
@import '_Newpassword';
@import '_home';
@import '_header';
@import '_dashboard';
@import '_product';
@import '_newproduct';
@import '_order';
@import '_settings';
@import 'customer';
@import 'pagenotfound';
@import 'logout';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
