@import 'mixin';
@import 'signin';
@import 'forgotpasword';
@import '_Newpassword';
@import '_home';
@import '_header';
@import '_dashboard';
@import '_product';
@import '_newproduct';
@import '_order';
@import '_settings';
@import 'customer';
@import 'pagenotfound';
@import 'logout';
@import 'sidebar';
@import 'newcustomer';
@import 'signup_pop';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Adjust the height based on your layout */
}